@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

/* Primary Colors */

$Violet: #674baf;
$Soft-Magenta: #e882e8;
$white: #fff;
$logo_dark_color: #FBB27C;
$button-bg-1: #0D6EFD;

/* Font Size */

$head: 3rem;
$text: 1.3rem;

/* Font Weight */

$regular: 400;
$bold: 600;

/* </---------Variables---------> */